In [1]:
1+1

2

In [2]:
import os
os.getcwd()

'/shared_folder/MP2/MiniProject2'

In [3]:
import os
os.path.exists(".env")

True

In [4]:
from dotenv import load_dotenv
import os

load_dotenv()  # loads .env in current folder
DATABASE_URL = os.getenv("DATABASE_URL")
DATABASE_URL is not None

False

In [5]:
import os, urllib.parse
from sqlalchemy import create_engine, text
import pandas as pd

u = os.getenv("POSTGRES_USERNAME")
p = urllib.parse.quote_plus(os.getenv("POSTGRES_PASSWORD",""))
h = os.getenv("POSTGRES_SERVER")
d = os.getenv("POSTGRES_DATABASE")

DATABASE_URL = f"postgresql+psycopg2://{u}:{p}@{h}/{d}?sslmode=require"

engine = create_engine(DATABASE_URL, pool_pre_ping=True)
with engine.connect() as conn:
    pd.read_sql_query(text("SELECT current_database() as db, current_user as usr;"), conn)

In [6]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(DATABASE_URL, connect_timeout=10)
pd.read_sql_query("SELECT version();", conn)

ProgrammingError: invalid dsn: invalid connection option "postgresql+psycopg2://mini_project_2_z393_user:iYc6jbY29wNNBHFN4GFzae2auKshl0X7@dpg-d4mbp86uk2gs738s5bg0-a.virginia-postgres.render.com/mini_project_2_z393?sslmode"

In [7]:
import sys
!{sys.executable} -m pip install --upgrade pip
!{sys.executable} -m pip install sqlalchemy psycopg2-binary

Requirement already satisfied: pip in /opt/venv/lib/python3.12/site-packages (25.3)
Requirement already satisfied: sqlalchemy in /opt/venv/lib/python3.12/site-packages (2.0.44)
Requirement already satisfied: psycopg2-binary in /opt/venv/lib/python3.12/site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in /opt/venv/lib/python3.12/site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/venv/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)

In [8]:
import sqlalchemy
sqlalchemy.__version__

'2.0.44'

In [9]:
python -m pip install sqlalchemy psycopg2-binary

SyntaxError: invalid syntax (2239567847.py, line 1)

In [10]:
import sys
!{sys.executable} -m pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/venv/lib/python3.12/site-packages (2.0.44)
Requirement already satisfied: psycopg2-binary in /opt/venv/lib/python3.12/site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in /opt/venv/lib/python3.12/site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/venv/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)

In [11]:
from dotenv import load_dotenv
import os, urllib.parse

load_dotenv()  # uses .env in current folder

u = os.getenv("POSTGRES_USERNAME")
p = urllib.parse.quote_plus(os.getenv("POSTGRES_PASSWORD",""))
h = os.getenv("POSTGRES_SERVER")
d = os.getenv("POSTGRES_DATABASE")

DATABASE_URL = f"postgresql+psycopg2://{u}:{p}@{h}/{d}?sslmode=require"

In [12]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(DATABASE_URL, pool_pre_ping=True)

with engine.connect() as conn:
    pd.read_sql_query(text("SELECT current_database() AS db, current_user AS usr, version() AS version;"), conn)

In [13]:
with engine.connect() as conn:
    pd.read_sql_query(text("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema='public'
    ORDER BY table_name;
    """), conn)

In [14]:
!pip -q install psycopg2-binary python-dotenv

In [15]:
import os
os.environ["DATABASE_URL"] = "postgresql://mini_project_2_z393_user:iYc6jbY29wNNBHFN4GFzae2auKshl0X7@dpg-d4mbp86uk2gs738s5bg0-a.virginia-postgres.render.com/mini_project_2_z393"

In [16]:
import os
import psycopg2
import pandas as pd

DATABASE_URL = os.environ["DATABASE_URL"]

conn = psycopg2.connect(DATABASE_URL, sslmode="require")
pd.read_sql_query("SELECT version();", conn)

/tmp/ipykernel_492/3519192596.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT version();", conn)

                                             version
0  PostgreSQL 18.1 (Debian 18.1-1.pgdg12+2) on x8...

In [17]:
import os
from urllib.parse import urlparse

u = urlparse(os.environ["DATABASE_URL"])
print("host =", u.hostname)
print("db   =", u.path)
print("user =", u.username)

host = dpg-d4mbp86uk2gs738s5bg0-a.virginia-postgres.render.com
db   = /mini_project_2_z393
user = mini_project_2_z393_user

In [18]:
import pandas as pd

pd.read_sql_query("SELECT current_database() AS db, current_user AS user, version();", conn)

/tmp/ipykernel_492/3585097572.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT current_database() AS db, current_user AS user, version();", conn)

,db,user,version
0,mini_project_2_z393,mini_project_2_z393_user,PostgreSQL 18.1 (Debian 18.1-1.pgdg12+2) on x8...

In [19]:
pd.read_sql_query("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema='public'
ORDER BY table_name;
""", conn)

/tmp/ipykernel_492/3524339476.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""

        table_name
0          country
1         customer
2      orderdetail
3          product
4  productcategory
5         raw_data
6           region

In [20]:
pd.read_sql_query("SELECT * FROM raw_data LIMIT 5;", conn)

/tmp/ipykernel_492/717130449.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM raw_data LIMIT 5;", conn)

,name,address,city,country,region,productname,productcategory,productcategorydescription,productunitprice,quantityorderded,orderdate
0,Alejandra Camino,"Gran Via, 1",Madrid,Spain,Southern Europe,Teatime Chocolate Biscuits;Guarana Fantastica;...,Confections;Beverages;Beverages;Seafood;Grains...,"Desserts, candies, and sweet breads;Soft drink...",9.2;4.5;18;25.89;19.5;25.89;32.8;7.45;25.89;34...,1;6;4;6;2;10;10;5;1;10;10;4;20;2;49;28;33;4;20...,20120814;20120814;20120814;20120815;20120815;2...
1,Alexander Feuer,Heerstr. 22,Leipzig,Germany,Western Europe,Rossle Sauerkraut;Tarte au sucre;Raclette Cour...,Produce;Confections;Dairy Products;Condiments;...,"Dried fruit and bean curd;Desserts, candies, a...",45.6;49.3;55;43.9;34.8;18;9.5;17.45;49.3;6;12....,20;12;12;6;30;10;12;20;20;20;10;48;33;38;16;32...,20120809;20120809;20130620;20130620;20130620;2...
2,Ana Trujillo,Avda. de la Constitucion 2222,Mexico D.F.,Mexico,Central America,Gudbrandsdalsost;Outback Lager;Tofu;Singaporea...,Dairy Products;Beverages;Produce;Grains/Cereal...,"Cheeses;Soft drinks, coffees, teas, beers, and...",36;15;23.25;14;34;32;21;6;9.2;34.8;9.2;62.5;25...,1;5;3;5;10;10;2;10;7;10;33;44;38;44;9;19;4;20;...,20120918;20120918;20130808;20130808;20130808;2...
3,Anabela Domingues,"Av. Ines de Castro, 414",Sao Paulo,Brazil,South America,Sir Rodney's Marmalade;Gorgonzola Telino;Chef ...,Confections;Dairy Products;Condiments;Meat/Pou...,"Desserts, candies, and sweet breads;Cheeses;Sw...",81;12.5;22;24;49.3;25;18;34;12.5;123.79;25.89;...,20;20;20;20;10;6;28;30;24;8;20;30;15;38;44;6;6...,20120828;20130404;20130722;20130722;20130722;2...
4,Andre Fonseca,"Av. Brasil, 442",Campinas,Brazil,South America,Gorgonzola Telino;Raclette Courdavault;Nord-Os...,Dairy Products;Dairy Products;Seafood;Grains/C...,"Cheeses;Cheeses;Seaweed and fish;Breads, crack...",12.5;55;25.89;14;31;9.65;9.5;40;53;34;25;25.89...,14;20;2;20;20;4;15;40;28;10;30;15;20;20;3;20;2...,20130123;20130123;20130901;20130901;20130929;2...

In [21]:
pd.read_sql_query("""
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema NOT IN ('pg_catalog','information_schema')
ORDER BY table_schema, table_name;
""", conn)

/tmp/ipykernel_492/2529550469.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""

  table_schema       table_name
0       public          country
1       public         customer
2       public      orderdetail
3       public          product
4       public  productcategory
5       public         raw_data
6       public           region

In [22]:
pd.read_sql_query("SELECT * FROM raw_data LIMIT 10;", conn)

/tmp/ipykernel_492/1289761750.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM raw_data LIMIT 10;", conn)

,name,address,city,country,region,productname,productcategory,productcategorydescription,productunitprice,quantityorderded,orderdate
0,Alejandra Camino,"Gran Via, 1",Madrid,Spain,Southern Europe,Teatime Chocolate Biscuits;Guarana Fantastica;...,Confections;Beverages;Beverages;Seafood;Grains...,"Desserts, candies, and sweet breads;Soft drink...",9.2;4.5;18;25.89;19.5;25.89;32.8;7.45;25.89;34...,1;6;4;6;2;10;10;5;1;10;10;4;20;2;49;28;33;4;20...,20120814;20120814;20120814;20120815;20120815;2...
1,Alexander Feuer,Heerstr. 22,Leipzig,Germany,Western Europe,Rossle Sauerkraut;Tarte au sucre;Raclette Cour...,Produce;Confections;Dairy Products;Condiments;...,"Dried fruit and bean curd;Desserts, candies, a...",45.6;49.3;55;43.9;34.8;18;9.5;17.45;49.3;6;12....,20;12;12;6;30;10;12;20;20;20;10;48;33;38;16;32...,20120809;20120809;20130620;20130620;20130620;2...
2,Ana Trujillo,Avda. de la Constitucion 2222,Mexico D.F.,Mexico,Central America,Gudbrandsdalsost;Outback Lager;Tofu;Singaporea...,Dairy Products;Beverages;Produce;Grains/Cereal...,"Cheeses;Soft drinks, coffees, teas, beers, and...",36;15;23.25;14;34;32;21;6;9.2;34.8;9.2;62.5;25...,1;5;3;5;10;10;2;10;7;10;33;44;38;44;9;19;4;20;...,20120918;20120918;20130808;20130808;20130808;2...
3,Anabela Domingues,"Av. Ines de Castro, 414",Sao Paulo,Brazil,South America,Sir Rodney's Marmalade;Gorgonzola Telino;Chef ...,Confections;Dairy Products;Condiments;Meat/Pou...,"Desserts, candies, and sweet breads;Cheeses;Sw...",81;12.5;22;24;49.3;25;18;34;12.5;123.79;25.89;...,20;20;20;20;10;6;28;30;24;8;20;30;15;38;44;6;6...,20120828;20130404;20130722;20130722;20130722;2...
4,Andre Fonseca,"Av. Brasil, 442",Campinas,Brazil,South America,Gorgonzola Telino;Raclette Courdavault;Nord-Os...,Dairy Products;Dairy Products;Seafood;Grains/C...,"Cheeses;Cheeses;Seaweed and fish;Breads, crack...",12.5;55;25.89;14;31;9.65;9.5;40;53;34;25;25.89...,14;20;2;20;20;4;15;40;28;10;30;15;20;20;3;20;2...,20130123;20130123;20130901;20130901;20130929;2...
5,Ann Devon,35 King George,London,UK,British Isles,Gudbrandsdalsost;Flotemysost;Thuringer Rostbra...,Dairy Products;Dairy Products;Meat/Poultry;Bev...,"Cheeses;Cheeses;Prepared meats;Soft drinks, co...",36;21.5;123.79;18;20;25.89;17;22;21;30;46;34.8...,30;5;21;35;30;15;24;25;5;60;6;20;12;30;21;50;2...,20121126;20121126;20130101;20130101;20130101;2...
6,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,France,Western Europe,Valkoinen suklaa;Gudbrandsdalsost;Guarana Fant...,Confections;Dairy Products;Beverages;Beverages...,"Desserts, candies, and sweet breads;Cheeses;So...",16.25;36;4.5;14;19;19;18;49.3;18;24;18;17.45;2...,15;18;10;10;20;6;24;40;14;10;20;20;20;10;15;10...,20121111;20121111;20121120;20121120;20121120;2...
7,Antonio Moreno,Mataderos 2312,Mexico D.F.,Mexico,Central America,Teatime Chocolate Biscuits;Louisiana Fiery Hot...,Confections;Condiments;Confections;Dairy Produ...,"Desserts, candies, and sweet breads;Sweet and ...",9.2;21.05;16.25;34;97;12.5;14;12.5;10;13.25;6;...,24;1;31;23;49;15;23;26;36;19;38;47;43;16;27;13...,20131012;20131012;20131012;20131012;20131012;2...
8,Aria Cruz,"Rua Oros, 92",Sao Paulo,Brazil,South America,NuNuCa Nu-Nougat-Creme;Chartreuse verte;Boston...,Confections;Beverages;Seafood;Beverages;Bevera...,"Desserts, candies, and sweet breads;Soft drink...",14;18;18.4;7.75;4.5;14;9.2;2.5;4.5;12;9.5;34;7...,10;50;4;6;15;10;18;50;10;9;6;12;50;30;25;30;12...,20121106;20121106;20121106;20121106;20121218;2...
9,Art Braunschweiger,P.O. Box 555,Lander,USA,North America,Geitost;Teatime Chocolate Biscuits;Nord-Ost Ma...,Dairy Products;Confections;Seafood;Beverages;G...,"Cheeses;Desserts, candies, and sweet breads;Se...",2.5;9.2;25.89;263.5;38;7.45;123.79;38;30;34;12...,24;10;8;20;12;24;20;18;10;20;8;10;40;21;20;6;2...,20120801;20121015;20121015;20121015;20121015;2...

In [23]:
q = """
SELECT
  relname AS table_name,
  n_live_tup AS approx_rows
FROM pg_stat_user_tables
ORDER BY approx_rows DESC;
"""
df = pd.read_sql_query(q, conn)   # assumes you already made conn successfully
df

/tmp/ipykernel_492/1631637335.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(q, conn)   # assumes you already made conn successfully

        table_name  approx_rows
0         raw_data           91
1         customer            0
2          product            0
3  productcategory            0
4      orderdetail            0
5          country            0
6           region            0

In [43]:
tables = ["raw_data","region","country","customer","productcategory","product","orderdetail"]
for t in tables:
    df = pd.read_sql_query(f'SELECT COUNT(*) AS cnt FROM "{t}";', conn)
    print(t, int(df["cnt"].iloc[0]))

/tmp/ipykernel_341/1394829314.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'SELECT COUNT(*) AS cnt FROM "{t}";', conn)

raw_data 91
region 9
country 21
customer 91
productcategory 8
product 77
orderdetail 609107

In [44]:
pd.read_sql_query("SELECT version();", conn)

/tmp/ipykernel_341/656059611.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT version();", conn)

                                             version
0  PostgreSQL 18.1 (Debian 18.1-1.pgdg12+2) on x8...

In [45]:
pd.read_sql_query("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema='public'
ORDER BY table_name;
""", conn)

/tmp/ipykernel_341/3524339476.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""

        table_name
0          country
1         customer
2      orderdetail
3          product
4  productcategory
5         raw_data
6           region

In [46]:
tables = ["raw_data","region","country","customer","productcategory","product","orderdetail"]
for t in tables:
    df = pd.read_sql_query(f'SELECT COUNT(*) AS cnt FROM "{t}";', conn)
    print(t, int(df["cnt"].iloc[0]))

/tmp/ipykernel_341/1394829314.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'SELECT COUNT(*) AS cnt FROM "{t}";', conn)

raw_data 91
region 9
country 21
customer 91
productcategory 8
product 77
orderdetail 609107

In [47]:
q = """
SELECT 'raw_data' AS table, COUNT(*) AS rows FROM raw_data
UNION ALL SELECT 'region', COUNT(*) FROM region
UNION ALL SELECT 'country', COUNT(*) FROM country
UNION ALL SELECT 'customer', COUNT(*) FROM customer
UNION ALL SELECT 'productcategory', COUNT(*) FROM productcategory
UNION ALL SELECT 'product', COUNT(*) FROM product
UNION ALL SELECT 'orderdetail', COUNT(*) FROM orderdetail
ORDER BY rows DESC;
"""
df = pd.read_sql_query(q, conn)
df

/tmp/ipykernel_341/3536820351.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(q, conn)

             table    rows
0      orderdetail  609107
1         customer      91
2         raw_data      91
3          product      77
4          country      21
5           region       9
6  productcategory       8

In [48]:
q = "SELECT * FROM raw_data LIMIT 10;"
pd.read_sql_query(q, conn)

/tmp/ipykernel_341/3290224241.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(q, conn)

,name,address,city,country,region,productname,productcategory,productcategorydescription,productunitprice,quantityorderded,orderdate
0,Alejandra Camino,"Gran Via, 1",Madrid,Spain,Southern Europe,Teatime Chocolate Biscuits;Guarana Fantastica;...,Confections;Beverages;Beverages;Seafood;Grains...,"Desserts, candies, and sweet breads;Soft drink...",9.2;4.5;18;25.89;19.5;25.89;32.8;7.45;25.89;34...,1;6;4;6;2;10;10;5;1;10;10;4;20;2;49;28;33;4;20...,20120814;20120814;20120814;20120815;20120815;2...
1,Alexander Feuer,Heerstr. 22,Leipzig,Germany,Western Europe,Rossle Sauerkraut;Tarte au sucre;Raclette Cour...,Produce;Confections;Dairy Products;Condiments;...,"Dried fruit and bean curd;Desserts, candies, a...",45.6;49.3;55;43.9;34.8;18;9.5;17.45;49.3;6;12....,20;12;12;6;30;10;12;20;20;20;10;48;33;38;16;32...,20120809;20120809;20130620;20130620;20130620;2...
2,Ana Trujillo,Avda. de la Constitucion 2222,Mexico D.F.,Mexico,Central America,Gudbrandsdalsost;Outback Lager;Tofu;Singaporea...,Dairy Products;Beverages;Produce;Grains/Cereal...,"Cheeses;Soft drinks, coffees, teas, beers, and...",36;15;23.25;14;34;32;21;6;9.2;34.8;9.2;62.5;25...,1;5;3;5;10;10;2;10;7;10;33;44;38;44;9;19;4;20;...,20120918;20120918;20130808;20130808;20130808;2...
3,Anabela Domingues,"Av. Ines de Castro, 414",Sao Paulo,Brazil,South America,Sir Rodney's Marmalade;Gorgonzola Telino;Chef ...,Confections;Dairy Products;Condiments;Meat/Pou...,"Desserts, candies, and sweet breads;Cheeses;Sw...",81;12.5;22;24;49.3;25;18;34;12.5;123.79;25.89;...,20;20;20;20;10;6;28;30;24;8;20;30;15;38;44;6;6...,20120828;20130404;20130722;20130722;20130722;2...
4,Andre Fonseca,"Av. Brasil, 442",Campinas,Brazil,South America,Gorgonzola Telino;Raclette Courdavault;Nord-Os...,Dairy Products;Dairy Products;Seafood;Grains/C...,"Cheeses;Cheeses;Seaweed and fish;Breads, crack...",12.5;55;25.89;14;31;9.65;9.5;40;53;34;25;25.89...,14;20;2;20;20;4;15;40;28;10;30;15;20;20;3;20;2...,20130123;20130123;20130901;20130901;20130929;2...
5,Ann Devon,35 King George,London,UK,British Isles,Gudbrandsdalsost;Flotemysost;Thuringer Rostbra...,Dairy Products;Dairy Products;Meat/Poultry;Bev...,"Cheeses;Cheeses;Prepared meats;Soft drinks, co...",36;21.5;123.79;18;20;25.89;17;22;21;30;46;34.8...,30;5;21;35;30;15;24;25;5;60;6;20;12;30;21;50;2...,20121126;20121126;20130101;20130101;20130101;2...
6,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,France,Western Europe,Valkoinen suklaa;Gudbrandsdalsost;Guarana Fant...,Confections;Dairy Products;Beverages;Beverages...,"Desserts, candies, and sweet breads;Cheeses;So...",16.25;36;4.5;14;19;19;18;49.3;18;24;18;17.45;2...,15;18;10;10;20;6;24;40;14;10;20;20;20;10;15;10...,20121111;20121111;20121120;20121120;20121120;2...
7,Antonio Moreno,Mataderos 2312,Mexico D.F.,Mexico,Central America,Teatime Chocolate Biscuits;Louisiana Fiery Hot...,Confections;Condiments;Confections;Dairy Produ...,"Desserts, candies, and sweet breads;Sweet and ...",9.2;21.05;16.25;34;97;12.5;14;12.5;10;13.25;6;...,24;1;31;23;49;15;23;26;36;19;38;47;43;16;27;13...,20131012;20131012;20131012;20131012;20131012;2...
8,Aria Cruz,"Rua Oros, 92",Sao Paulo,Brazil,South America,NuNuCa Nu-Nougat-Creme;Chartreuse verte;Boston...,Confections;Beverages;Seafood;Beverages;Bevera...,"Desserts, candies, and sweet breads;Soft drink...",14;18;18.4;7.75;4.5;14;9.2;2.5;4.5;12;9.5;34;7...,10;50;4;6;15;10;18;50;10;9;6;12;50;30;25;30;12...,20121106;20121106;20121106;20121106;20121218;2...
9,Art Braunschweiger,P.O. Box 555,Lander,USA,North America,Geitost;Teatime Chocolate Biscuits;Nord-Ost Ma...,Dairy Products;Confections;Seafood;Beverages;G...,"Cheeses;Desserts, candies, and sweet breads;Se...",2.5;9.2;25.89;263.5;38;7.45;123.79;38;30;34;12...,24;10;8;20;12;24;20;18;10;20;8;10;40;21;20;6;2...,20120801;20121015;20121015;20121015;20121015;2...